@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Quicksand:wght@300;400;500;600;700&family=Raleway&family=Roboto:wght@100;300;500&display=swap');

:root {
  --primary: #f1356d;
  --secondary: #2b3452;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Quicksand";
}
* {
  color: #333;
  margin: 0;
}
a {
  text-decoration: none;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

.product-list {
  width: 85%;
  margin: auto;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 10px 20px 10px;
}

.card h1 {
  margin: 10px;
  color: var(--primary);
}

.card img {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.card span {
  font-weight: bold;
  color: var(--secondary);
}